<p class="nav nav-pills">

	
	<li role ="presentation" class = "na"><%= link_to "Show All", todos_path(filter:"all") %>
	</li>
	

	
	<li role ="presentation" class = "na"><%= link_to "Todo", todos_path(filter:"active") %>
	</li>
	

	
	<li role ="presentation" class = "na"><%= link_to "Completed", todos_path(filter:"completed") %>
	</li>
	

</p>
